<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="search" th:fragment="search">
            <div class="wyInput" id="myInput">
                <div class="wyinput-group">
                    <input type="text" placeholder="搜点什么呢" id="inputVal">
                    <a href="#" onclick="search" class="wyinput-btn" id="mySearchBtn">搜 索</a>
                </div>
                <div class="wyinput-drop">

                </div>
            </div>
        </div>
    </body>
</html>
