<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/meta :: meta(~{::title})">
  <title>文章详情_危锦辉个人博客 - 一个喜欢研究技术的程序猿的个人博客网站</title>
</head>
<body>
<div th:replace="common/header :: header"></div>
<article>
  <h1 class="t_nav">
    <span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span>
    <a href="/" class="n1">网站首页</a>
    <a href="/" class="n2">慢生活</a>
  </h1>
  <div class="infos">
    <div class="newsview">
      <h3 class="news_title" th:text="${articleVO.title}">默认标题</h3>
      <div class="news_author">
        <span class="au01"><a href="mailto:wjhsmarter@126.com" th:text="${info.name}">默认名称</a></span>
        <span class="au02" th:text="${#dates.format(articleVO.updateTime, 'yyyy-MM-dd')}">发布时间</span>
        <span class="au03">共
          <b>
            <span th:text="${articleVO.viewCount}">0</span>
          </b>人围观
        </span>
      </div>
      <div class="tags">
        <a th:href="@{/list(pageNo=${pageNo},categoryId=${articleVO.categoryId})}" th:text="${articleVO.categoryName}">默认分类</a> &nbsp;
      </div>
      <!--<div class="news_about"><strong>简介</strong>个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章。</div>-->
      <div class="news_infos">
        <span th:utext="${articleVO.content}"></span>
       </div>
    </div>
    <div class="share"> </div>
    <div class="nextinfo">
      <p><a href="list">返回列表</a></p>
    </div>
    <div class="otherlink">
      <h2>相关文章</h2>
      <ul>
        <li th:each="article,articleStat : ${articleVOList}">
            <a th:href="@{/detail(id=${article.id}) }" th:title="${article.title}" th:text="'《' + ${article.title} + '》'">默认标题</a>
        </li>
      </ul>
    </div>
    <div class="news_pl">
      <h2>文章评论</h2>
      <ul>
        <div class="gbko"> </div>
      </ul>
    </div>
  </div>
  <div th:replace="common/rightNav :: rightNav"></div>
</article>
<div th:replace="common/footer :: footer"></div>
<script src="js/nav.js"></script>
</body>
</html>
