<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/meta :: meta(~{::title})">
  <title>时间轴_危锦辉个人博客 - 一个喜欢研究技术的程序猿的个人博客网站</title>
</head>
<body>
<div th:replace="common/header :: header"></div>
<article>
  <h1 class="t_nav">
    <span>您现在的位置是：首页 > 时间轴</span>
    <a href="/" class="n1">网站首页</a>
    <a href="timeaxis" class="n2">时间轴</a>
  </h1>
  <div class="infos">
    <!-- 代码 开始 -->
    <div class="head-warp">
      <div class="head">
        <div class="nav-box">
          <ul>
            <li class="cur" style="text-align:center; font-size:62px; font-family:'微软雅黑', '宋体';"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="history">
        <div class="history-date" th:each="timeaxis,timeaxisStat : ${timeaxisVOList}">
          <ul>
            <h2 th:class="${timeaxisStat.index == 0 ? 'first' : 'date02'}">
              <a href="#nogo" th:text="${timeaxis.yearColumn} + '年'">年</a>
            </h2>
            <li th:class="${timeaxisDetail.recommend == 1 ? 'green' : ''}" th:each="timeaxisDetail,timeaxisDetailStat : ${timeaxis.rows}">
              <h3 th:text="${timeaxisDetail.monthColumn}">MM.dd<span th:text="${timeaxis.yearColumn} + '年'">YYYY</span></h3>
              <dl>
                <dt th:text="${timeaxisDetail.title}">
                  标题
                </dt>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--右边的菜单-->
  <div th:replace="common/rightNav :: rightNav"></div>
</article>
<!--底部-->
<div th:replace="common/footer :: footer"></div>
<script src="js/nav.js"></script>
<script src="js/timeaxis.js"></script>
</body>
</html>
